body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;

   background-color: rgb(69, 39, 39);
    
}
.topo a{
    color: white;
    text-decoration: none;

}
.container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        width: 1890px;
        height: 900px;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    background-color: rgb(13, 156, 61);
    
    position: relative;

    width: 200px;
    height: 200px;
        
}
.box{
    animation-name: pular;
    animation-duration:2.5s ;
    animation-iteration-count: infinite;
}

@keyframes pular{
        from{transform: rotate(0deg)}
        to{transform: rotate(360deg)}

        0%{bottom:0px;}
        20%{bottom:100px;}
        40%{bottom:120px;}
        60%{bottom:100px;}
        80%{bottom:0px;}   
    }
    

